-pages = ['home','nosotros','servicios', 'portafolio', 'contacto']
-siguenos = true
-currentPage = 'inicio'
-pageTitle = 'Inicio'
-siteTitle = 'Creativos ABC'
-description = 'Bienvenidos al sitio web Creativos ABC'