block config
    include ../config/config.pug

doctype html
html
    head
        title #{pageTitle} | #{siteTitle}
        meta(charset='utf-8')
        meta(name='description' content=description)
    body
        header
            img(src='/PruebasHtml/public/img/logo.svg')
            include ../blocks/menu.pug